<%- include('../Includes/begin.ejs') %>
<%- include('../Includes/navbar.ejs') %>

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card shadow-sm p-4 mb-5 bg-white rounded">
                <div class="forgot p-3">
                    <h2 class="h4" style="font-size: 1.25rem;">Reset your password</h2>
                    <p class="text-muted" style="font-size: 0.95rem;">Change your password. Make sure it's strong and secure!</p>
                    <p class="text-muted" style="font-size: 0.85rem;">NOTE: The link will expire in 20 minutes.</p>
                </div>

                <%- include('../Includes/messages') %>

                <form class="card" role="form" method="POST" action="/admin/resetpassword?_method=PUT">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="password" style="font-size: 0.9rem;">Enter your new password</label>
                            <input class="form-control" type="password" name="password" id="password" required style="font-size: 0.95rem;">
                            <small class="form-text text-muted" style="font-size: 0.85rem;">Enter a strong password</small>
                        </div>
                        <div class="form-group">
                            <label for="confirm-password" style="font-size: 0.9rem;">Confirm your password</label>
                            <input class="form-control" type="password" name="confirmPass" id="confirmPass" required style="font-size: 0.95rem;">
                            <small class="form-text text-muted" style="font-size: 0.85rem;">Confirm your new password</small>
                        </div>
                    </div>
                    <input type="hidden" class="hide" name="resetLink" id="resetLink" value="<%= resetLink %>">
                    <button class="btn btn-primary btn-block" type="submit" style="font-size: 0.95rem;">Change Password</button>
                </form>
                <hr>
                <button class="btn btn-danger" onclick="location.href = '/admin/login'" style="font-size: 0.9rem;">Back to Login</button>
            </div>
        </div>
    </div>
</div>

<%- include('../Includes/end.ejs') %>
