<%- include('../Includes/begin.ejs') %>
<%- include('../Includes/staff_nav.ejs') %>

<section id="content-wrapper">
    <main role="main" class="pt-5 main">
        <div class="main-content">
            <!-- Header -->
            <div class="header pb-4 pt-5 pt-lg-8 d-flex align-items-center" style="background-color: #f1f1f1;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="display-4 text-dark">Add Student Marks</h1>
                            <p class="text-muted">Select a class to add or update student marks</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page content -->
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-xl-12 order-xl-1">
                        <div class="card shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">Select Class</h3>
                                        <%- include('../Includes/messages') %>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table align-items-center table-hover">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Course</th>
                                                <th scope="col">Semester</th>
                                                <th scope="col">Section</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (classData.length === 0) { %>
                                                <tr>
                                                    <td colspan="5" class="text-center">No classes assigned</td>
                                                </tr>
                                            <% } else { %>
                                                <% classData.forEach((cls, index) => { %>
                                                    <tr>
                                                        <td><%= index + 1 %></td>
                                                        <td><%= cls.name %> (<%= cls.c_id %>)</td>
                                                        <td><%= cls.semester %></td>
                                                        <td><%= user.dept_id %>-<%= cls.section %></td>
                                                        <td>
                                                            <a href="/staff/add-marks/class/<%= cls.c_id %>?section=<%= cls.section %>" 
                                                               class="btn btn-sm btn-primary">
                                                                Add Marks
                                                            </a>
                                                        </td>
                                                    </tr>
                                                <% }); %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>

<%- include('../Includes/staff_end.ejs') %> 